<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-demo:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_demo_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.44" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="mybatis-demo/web/Web" />
    </root>
  </artifact>
</component>